.bonus {
  position: relative;
}

.bonus__container {
  width: 100%;
  margin: 0 auto;
}

.bonus__title-main {
  @include title-small;
  width: 71%;
  font-size: 24px;
  line-height: 24px;
  background-color: $white;
  padding: 25px 20px 0;
  margin: 0 0 33px 0;

  &::after {
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
    content: "";
    height: 2px;
    background-color: $green;
    z-index: -1;
  }
}

// todo 768
@media (min-width: 768px) {
  .bonus__container {
    width: 92%;
    margin: 0 auto;
  }

  .bonus__title-main {
    width: 48%;
    font-size: 36px;
    line-height: 36px;
    padding: 67px 35px 45px;

    &::after {
      top: 88px;
    }
  }
}

// todo 1140
@media (min-width: 1440px) {
  .bonus {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .bonus__container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .bonus__title-main {
    width: 24%;
    padding: 75px 25px 46px 35px;
    margin: 0 0 35px 75px;

    &::after {
      top: 100px;
    }
  }
}
