.button {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: $green;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 9px 25px;
}

.button--main {
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 25px;
}

.button--special {
  color: $basic-grey;
  background-color: $special-grey;
  margin: 0 auto 24px;
}

// todo 768
@media (min-width: 768px) {
  .button--main {
    position: absolute;
    top: 270px;
    left: calc(41% - 203px);
    width: 32%;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 10px;
    z-index: 5;
  }

  .button--form {
    width: 41%;
    font-size: 20px;
    padding: 11px 25px;
  }

  .button--catalog {
    padding: 7px 25px;
  }

  .button--special {
    width: 100%;
    padding: 9px 15px;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .button--catalog {
    width: 100%;
  }

  .button--extra {
    width: 27%;
  }

  .button--form {
    width: 47%;
  }

  .button--main {
    position: absolute;
    top: 322px;
    left: 190px;
    width: 17%;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 10px;
    z-index: 2;
  }

  .button--special {
    width: 84%;
  }
}
