@import "../other/global.scss";
@import "../other/fonts.scss";
@import "../other/variables.scss";

.cat-data {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 0 20px;
  margin: 0 0 10px 0;
}

.cat-data__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cat-data__input-wrapper {
  @include input-wrapper;
  margin: 0 0 12px 0;
}

.cat-data__label {
  @include form;
  padding: 12px 0;
  margin: 0 10px 0 0;
}

.cat-data__input {
  @include input;
  border-color: $aluminum-grey;
  padding: 13px 0 12px 18px;
  margin: 0 0 2px 0;
}
