.cat-data {
  display: flex;
  flex-wrap: wrap;
  border: none;
  margin: 0 auto 22px;
}

.cat-data__container {
  flex-basis: 100%;
  margin: 0 auto;
}

.cat-data__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.cat-data__input-wrapper {
  @include input-wrapper;
  flex-basis: 100%;
  margin: 15px 20px 0;
}

.cat-data__label {
  @include form;
  margin-right: 15px;
}

.cat-data__input {
  flex: 1 1 auto;
  color: $black;
  border: 1px solid $aluminum-grey;
  padding: 15px 0 11px 15px;

  &:hover {
    border-color: $grey;
  }

  &:active {
    outline: 1px $orange dashed;
  }

  &:focus {
    outline: none;
    border: 2px solid $basic-grey;
  }
}

.cat-data__input::placeholder {
  @include form;
  color: $basic-grey;
}

// // /*for Firefox*/
// .user-data__input::-moz-placeholder {
//   @include form;
// }

// todo 768
@media (min-width: 768px) {
  .cat-data {
    border: none;
    margin: 0 0 20px 0;
  }

  .cat-data__list {
    width: 82%;
  }

  .cat-data__input-wrapper {
    margin: 0 0 17px 0;
  }

  .cat-data__label {
    @include form;
    font-size: 20px;
    line-height: 30px;
    padding: 12px 0;
    margin: 0 18px 0 0;
  }

  .cat-data__input {
    padding: 14px 0 14px 20px;
  }

  .cat-data__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .cat-data {
    width: 52%;
    margin: 0;
  }

  .cat-data__container {
    width: 100%;
  }

  .cat-data__list {
    width: 90%;
    padding: 0;
    margin: 0;
  }

  .cat-data__input {
    padding: 15px 0 15px 17px;
  }
}
