.cooperate {
  display: flex;
  width: 100%;
  list-style: none;
  text-align: left;
  background-color: $special-grey;
  box-sizing: border-box;
  padding: 25px 19px;
  margin: 0 auto;
}

.cooperate--index {
  background-color: $white;
}

.cooperate__text {
  display: flex;
  flex-direction: column;
  width: 47%;
  padding: 0 10px 0 0;
}

.cooperate__text .cooperate__title {
  @include title-big;
  font-size: 16px;
  line-height: 22px;
}

.cooperate__text .cooperate__subtitle {
  @include title-big;
  font-size: 16px;
  line-height: 18px;
}

.cooperate__address {
  @include text;
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  margin: 0;
}

// todo 768
@media (min-width: 768px) {
  .cooperate {
    width: 100%;
    justify-content: space-between;
    padding: 62px 30px 45px;
  }

  .cooperate__text {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 0 0 0 41px;
  }

  .cooperate__text .cooperate__title {
    @include title-big;
    font-size: 20px;
    line-height: 23px;
  }

  .cooperate__text .cooperate__subtitle {
    @include title-big;
    font-size: 20px;
    line-height: 27px;
  }

  .cooperate__address {
    width: 25%;
    text-align: right;
    padding: 0 41px 0 0;
  }

  .cooperate__address .cooperate__title {
    @include text;
    font-size: 16px;
    line-height: 20px;
  }

  .cooperate__address .cooperate__subtitle {
    @include text;
    font-size: 16px;
    line-height: 53px;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .cooperate {
    max-width: 39%;
    background-color: $white;
    padding: 65px 75px 45px;
  }

  .cooperate__text {
    width: 52%;
    padding: 0;
  }

  .cooperate__text .cooperate__title,
  .cooperate__text .cooperate__subtitle {
    line-height: 25px;
  }

  .cooperate__address {
    width: 48%;
    text-align: left;
    padding: 0 0 0 70px;
  }
}
