.description__title {
  @include title-small;
  font-size: 36px;
  line-height: 40px;
  padding: 14px 5px 11px 0;
  margin: 0 0 28px 0;
}

.description__list {
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.description__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 19px;
}

.description__icon-box {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: $green;
}

.description__icon {
  position: absolute;
  top: 16px;
  left: 17px;
  width: 32px;
  height: 33px;
  background-repeat: no-repeat;
}

// .description__icon--leaf {
//   background-image: url("../../img/icon-leaf1.svg");
// }

// .description__icon--tub {
//   background-image: url("../../img/icon-tub2.svg");
// }

// .description__icon--eat {
//   background-image: url("../../img/icon-eat3.svg");
// }

// .description__icon--alarm {
//   background-image: url("../../img/icon-alarm.svg");
// }

.description__text {
  @include text;
  width: calc(100% - 80px);
  box-sizing: border-box;
  padding: 4px 0;
  margin: 0;
}

@media (min-width: 768px) {
  .description {
    padding: 0 30px;
    border-bottom: 1px $secondory-grey solid;
  }

  .description__title {
    font-size: 60px;
    line-height: 60px;
    padding: 14px 5px 46px 0;
    margin: 0 0 28px 0;
  }

  .description__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .description__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    box-sizing: border-box;
    margin: 0;
  }

  .description__item--leaf {
    padding: 0 0 98px 0;
  }

  .description__item--tub {
    padding: 0 0 98px 30px;
  }

  .description__item--eat {
    padding: 0 0 68px 0;
  }

  // todo
  .description__item--alarm {
    padding: 0 0 68px 30px;
  }

  .description__icon-box {
    width: 80px;
    height: 80px;
    margin: 0;
  }

  .description__text {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    padding: 33px 75px 33px 0;
    margin: 0;
  }
}
