.description {
  width: 88%;
  margin: 0 auto;
}

.description__container {
  margin: 0 auto;
}

.description__title {
  @include title-small;
  width: 82%;
  font-size: 36px;
  line-height: 40px;
  padding: 25px 0 23px;
  margin: 0;
}

.description__list {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 17px;
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.description__item {
  position: relative;
  display: flex;
  margin: 0;
}

.description__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: $green;
  margin: 0 20px 0 0;
}

.description__icon {
  width: 30px;
  height: 32px;
  background-repeat: no-repeat;
}

.description__icon--leaf {
  background-image: url("../../img/leaf1.svg");
}

.description__icon--tub {
  background-image: url("../../img/tub2.svg");
}

.description__icon--eat {
  background-image: url("../../img/eat3.svg");
}

.description__icon--alarm {
  background-image: url("../../img/alarm4.svg");
}

.description__text {
  @include text;
  width: 71%;
  padding: 5px 0;
  margin: 0;
}

// todo 768
@media (min-width: 768px) {
  .description {
    width: 92%;
    border-bottom: 1px $secondory-grey solid;
  }

  .description__title {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin-bottom: 74px;
  }

  .description__list {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    margin: 0 0 45px 0;
  }

  .description__item:nth-child(2) {
    grid-column: 2 / 3;
  }

  .description__item {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;

    &::after {
      position: absolute;
      top: -41px;
      font-family: $oswald;
      font-size: 280px;
      line-height: 280px;
      color: $special-grey;
      z-index: -1;
    }
  }

  .description__item--leaf {
    padding: 0 0 98px 0;

    &::after {
      right: 123px;
      content: "1";
    }
  }

  .description__item--tub {
    padding: 0 0 98px 29px;

    &::after {
      right: 77px;
      content: "2";
    }
  }

  .description__item--eat {
    padding: 0 0 25px 0;

    &::after {
      right: 107px;
      content: "3";
    }
  }

  .description__item--alarm {
    padding: 0 0 25px 30px;

    &::after {
      right: 77px;
      content: "4";
    }
  }

  .description__icon-box {
    width: 80px;
    height: 80px;
    margin: 0;
  }

  .description__text {
    width: 74%;
    font-size: 16px;
    line-height: 24px;
    padding: 33px 90px 33px 0;
    margin: 0;
  }

  .description__item--alarm .description__text {
    width: 79%;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .description {
    width: 85%;
    border-bottom: none;
  }

  .description__title {
    width: 32%;
    padding: 43px 0 46px;
    margin-bottom: 28px;
  }

  .description__list {
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 25%);
    gap: 20px;
  }

  .description__item {
    padding: 0;

    &::after {
      right: 61px;
    }

    &--leaf::after {
      right: 75px;
    }
  }

  .description__icon-box {
    margin: 0 0 30px 0;
  }

  .description__text {
    width: 73%;
    padding: 0 41px 0 0;
    margin: 0 0 50px 0;
  }

  .description__item--alarm .description__text {
    width: 80%;
    padding: 0;
  }
}
