.extra {
  position: relative;
  border: none;
  margin-bottom: 36px;
}

.extra__container {
  width: 100%;
  margin: 0 auto;
}

.extra__title {
  @include title-form;
  width: 57%;
  background-color: $white;
  padding: 9px 20px 0;
  margin: 0 0 31px 0;

  &::after {
    @include line;
    top: 22px;
  }
}

.extra__list {
  width: 88%;
  margin: 0 auto;
}

.extra__input-wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 6px 4px 0;
  margin: 0 0 17px 40px;
}

.extra__label {
  @include form;
  position: relative;

  .extra__input + &::before {
    position: absolute;
    top: 0;
    left: -44px;
    content: "";
    width: 26px;
    height: 26px;
    border: 1px $grey solid;
  }

  .extra__input:checked + &::after {
    position: absolute;
    top: 5px;
    left: -40px;
    content: "";
    width: 18px;
    height: 14px;
    background-image: url("../../img/check.svg");
  }
}

// todo 768
@media (min-width: 768px) {
  .extra {
    padding: 0;
    margin-bottom: 18px;
  }

  .extra__title {
    width: 37%;
    font-size: 36px;
    line-height: 36px;
    padding: 0 35px;
    margin: 0 0 64px 35px;

    &::after {
      top: 24px;
    }
  }

  .extra__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 82%;
  }

  .extra__input-wrapper {
    width: 45%;
    padding: 0 0 42px 59px;
    margin: 0;
  }

  .extra__label {
    font-size: 20px;
    line-height: 30px;

    .extra__input + &::before {
      left: -60px;
      width: 40px;
      height: 40px;
    }

    .extra__input:checked + &::after {
      top: 9px;
      left: -48px;
      width: 18px;
      height: 14px;
    }
  }
}

// todo 1440
@media (min-width: 1440px) {
  .extra {
    margin-bottom: 27px;
  }

  .extra__title {
    width: 20%;
    padding: 0 40px;
    margin: 0 0 60px 70px;
  }

  .extra__list {
    width: 85%;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 0 auto;
  }

  .extra__input-wrapper {
    width: 20%;
    padding: 0 10px 42px 59px;
  }
}
