.extra {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0 20px 20px;
}

.extra__container {
  margin: 0 auto;
}

.extra__title {
  @include title-form;
  padding: 9px 0 0 0;
  margin: 0 0 31px 0;

  // &::after {
  // @include line;
  //   top: 29px;
  // }
}

.extra__option {
  position: relative;
  box-sizing: border-box;
  padding: 6px 4px 0;
  margin: 0 0 17px 40px;
}

.extra__label {
  @include form;
  position: relative;

  .extra__input + &::before {
    position: absolute;
    top: 0;
    left: -44px;
    content: "";
    width: 26px;
    height: 26px;
    border: 1px $grey solid;
  }

  .extra__input:checked + &::after {
    position: absolute;
    top: 5px;
    left: -40px;
    content: "";
    width: 18px;
    height: 14px;
    background-image: url("../../img/vector.svg");
  }
}

// todo 768
@media (min-width: 768px) {
  .extra {
    width: 100%;
    padding: 0;
    margin: 0 0 18px;
  }

  .extra__title {
    width: 55%;
    font-size: 36px;
    line-height: 36px;
    padding: 0 35px;
    margin: 0 0 62px 35px;

    // &::after {
    //   top: 55px;
    // }
  }

  .extra__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 70px;
  }

  .extra__option {
    width: 45%;
    padding: 0 0 42px 59px;
    margin: 0;
  }

  .extra__label {
    font-size: 20px;
    line-height: 30px;

    .extra__input + &::before {
      left: -60px;
      width: 40px;
      height: 40px;
    }

    .extra__input:checked + &::after {
      top: 9px;
      left: -48px;
      width: 18px;
      height: 14px;
    }
  }
}

// todo 1440
@media (min-width: 1440px) {
  .extra__title {
    width: 55%;
    padding: 0 0 0 110px;
    margin: 0 0 62px 0;
  }

  .extra__list {
    margin: 0 110px;
  }

  .extra__option,
  .extra__option:nth-of-type(odd) {
    width: 22%;
    padding: 0 80px 42px 59px;
    margin: 0 10px 0 0;
  }

  .extra__option:nth-of-type(4) {
    padding: 0 0 48px 64px;
    margin: 0;
  }

  .extra__option:nth-of-type(3) {
    padding: 0 0 42px 59px;
    margin: 0;
  }
}
