.form__title {
  @include title-small;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 19px;
  margin: 0;
}

.form__text {
  @include text-big;
  padding: 10px 20px;
  margin: 0 0 30px 0;
}

.form__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.form__submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin: 0 0 32px 0;
}

.form__subtitle {
  @include text;
  line-height: 16px;
  color: $black;
  padding: 0;
  margin: 20px 0 0 0;
}

// todo 768
@media (min-width: 768px) {
  .form {
    padding: 0 70px;
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
    padding: 44px 0;
  }

  .form__text {
    @include text-big;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0;
    margin: 0 0 55px 0;
  }

  .form__submit {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 55px 0;
  }

  .form__subtitle {
    font-size: 16px;
    line-height: 16px;
    padding: 15px 0;
    margin: 0;
  }
}
