.habits {
  padding: 0 20px 14px;
  margin: 0;
}

.habits__container {
  margin: 0 auto;
}

.habits__title {
  @include title-form;
  padding: 0 0 40px 0;
  margin: 0;

  // &::after {
  // @include line;
  //   top: 29px;
  // }
}

.habits__text {
  width: 100%;
  border: 1px $aluminum-grey solid;
  resize: none;
  box-sizing: border-box;
  outline: none;
  padding: 8px 14px 0 13px;
  margin: 0 auto;
}

.habits__text::placeholder {
  @include form;
}

// todo 768
@media (min-width: 768px) {
  .habits {
    padding: 0;
    margin: 0 0 60px 0;
  }

  .habits__title {
    width: 40%;
    font-size: 36px;
    line-height: 36px;
    padding: 45px 35px 0;
    margin: 0 0 75px 35px;

    &::after {
      top: 55px;
    }
  }

  .habits__text::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .habits__text {
    width: 82%;
    padding: 10px 17px 26px;
    margin: 0 70px;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .habits {
    margin: 0 0 63px 0;
  }

  .habits__title {
    padding: 0 0 0 110px;
    margin: 0 0 83px 0;

    &::after {
      top: 21px;
    }
  }

  .habits__text {
    width: 85%;
    padding: 2px 17px 26px;
    margin: 0 110px;
  }
}
