.habits {
  position: relative;
  margin: 0 auto 14px;
}

.habits__container {
  width: 100%;
  margin: 0 auto;
}

.habits__title {
  @include title-form;
  width: 51%;
  background-color: $white;
  padding: 0 20px 20px;
  margin: 10px 0 20px 0;

  &::after {
    @include line;
    top: 15px;
  }
}

.habits__text {
  width: 79%;
  flex: 1 1 auto;
  border: 1px $aluminum-grey solid;
  resize: none;
  outline: none;
  padding: 5px 14px 0 13px;
  margin: 0 20px;

  &:focus {
    outline: 2px $orange solid;
  }
}

.habits__text::placeholder {
  @include form;
  color: $basic-grey;
}

// todo 768
@media (min-width: 768px) {
  .habits {
    padding: 0;
    margin-bottom: 60px;
  }

  .habits__title {
    width: 33%;
    font-size: 36px;
    line-height: 36px;
    padding: 10px 35px 0;
    margin: 0 0 75px 35px;

    &::after {
      top: 33px;
    }
  }

  .habits__text {
    width: 77%;
    padding: 10px 17px 26px;
    margin: 0 70px;
  }

  .habits__text::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .habits {
    margin-bottom: 63px;
  }

  .habits__title {
    width: 18%;
    padding: 0 40px;
    margin: 0 0 75px 70px;

    &::after {
      top: 21px;
    }
  }

  .habits__text {
    width: 82%;
    padding: 10px 15px 25px;
    margin: 0 110px;
  }
}
