.habits {
  width: 100%;
  border: none;
  // border-top: 2px $green solid;
  padding: 0;
  margin: 0 0 14px 0;
}

.habits__title {
  @include title-form;
  padding: 0;
  margin: 0 0 40px 0;
}

.habits__text {
  width: 100%;
  border: 1px $aluminum-grey solid;
  resize: none;
  box-sizing: border-box;
  outline: none;
  padding: 8px 14px 0 14px;
  margin: 0;
}

.habits__text::placeholder {
  @include form;
}

// todo 768
@media (min-width: 768px) {
  .habits {
    padding: 0;
    margin: 0 0 60px 0;
  }

  .habits__title {
    font-size: 36px;
    line-height: 36px;
    padding: 10px 42px 0 0;
    margin: 0 0 75px 0;
  }

  .habits__text::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .habits__text {
    padding: 10px 17px 26px;
  }
}
