.illustration {
  background-color: $smoky-grey;
  margin: 0 auto;
}

.illustration__container {
  width: 88%;
  margin: 0 auto;
}

.illustration__title {
  @include title-small;
  width: 82%;
  font-size: 36px;
  line-height: 40px;
  padding: 26px 0 34px;
  margin: 0;
}

.illustration__text {
  @include text;

  margin: 0 auto 26px;
}

.illustration__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.illustration__box {
  position: relative;
  width: 44%;
  border: 1px $grey solid;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
  padding: 14px 6px;
}

.illustration__name {
  @include title-big;
  font-size: 24px;
  line-height: 24px;
}

.illustration__value {
  @include text;
  position: absolute;
  top: 46px;
  left: calc(50% - 38px);
  bottom: -15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 22%;
  font-size: 12px;
  line-height: 12px;
  background-color: $smoky-grey;
  padding: 0 10px;
  z-index: 2;
}

.illustration__total {
  @include title-big;
  font-size: 14px;
  line-height: 20px;
  padding: 35px 0;
  margin: 0 auto;
}

.illustration__slider {
  margin: 0 auto;
}

// todo 768
@media (min-width: 768px) {
  .illustration {
    background-color: $white;
    margin-bottom: 65px;
  }

  .illustration__container {
    width: 92%;
  }

  .illustration__title {
    width: 65%;
    font-size: 60px;
    line-height: 60px;
    padding: 41px 0 63px;
  }

  .illustration__text {
    @include text;
    width: 96%;
    font-size: 16px;
    line-height: 24px;
    margin: 0 6px 53px 0;
  }

  .illustration__list {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: start;
  }

  .illustration__box {
    width: 41%;
    height: 75px;
    box-sizing: border-box;
    padding: 14px 5px;
    margin-right: 40px;
  }

  .illustration__name {
    font-size: 30px;
    line-height: 37px;
  }

  .illustration__value {
    top: 55px;
    left: calc(50% - 54px);
    bottom: -15px;
    width: 79%;
    font-size: 14px;
    line-height: 14px;
    flex-wrap: nowrap;
    background-color: $white;
    padding: 0 5px;
    margin: 0;
    z-index: 2;
  }

  .illustration__box:nth-child(2) .illustration__value {
    left: calc(50% - 68px);
  }

  .illustration__total {
    text-align: right;
    width: 45%;
    font-size: 20px;
    line-height: 28px;
    padding: 8px 2px 17px 123px;
    margin: 0;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .illustration {
    width: 50%;
    background: linear-gradient($white 168px, $special-grey 168px 400px);
    margin: 0;
  }

  .illustration__container {
    width: 69%;
    margin: 0 auto;
  }

  .illustration__title {
    width: 78%;
    text-align: left;
    padding: 31px 0 145px;
    margin: 0;
  }

  .illustration__text {
    width: 88%;
    padding: 0;
    margin: 0 0 67px 0;
  }

  .illustration__list {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 70px 0;
  }

  .illustration__box {
    width: 33%;
    margin: 0 40px 55px 0;
  }

  .illustration__name {
    width: 50%;
  }

  .illustration__value {
    background-color: $special-grey;
  }

  .illustration__total {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .illustration__total-text {
    margin: 0 60px 0 0;
  }
}
