.illustration {
  background-color: $smoky-grey;
}

.illustration__title {
  @include title-small;
  font-size: 36px;
  line-height: 40px;
  padding: 5px 0;
  margin: 0 0 28px 0;
}

.illustration__text {
  @include text;
  margin: 0 0 26px 0;
}

.illustration__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.illustration__box {
  position: relative;
  width: 44%;
  border: 1px $grey solid;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
  padding: 14px 6px;
}

.illustration__name {
  @include title-big;
  font-size: 24px;
  line-height: 24px;
}

.illustration__value {
  @include text;
  position: absolute;
  left: calc(50% - 39px);
  bottom: -31%;
  font-size: 12px;
  line-height: 12px;
  background-color: #eaeaea;
  padding: 0 10px;
  margin: 0;
  z-index: 2;
}

.illustration__total {
  @include title-big;
  font-size: 14px;
  line-height: 20px;
  padding: 25px 0;
  margin: 10px auto 10px;
}

.illustration__slider {
  display: flex;
  flex-direction: column;
}

.illustration__foto {
  width: 100%;
  background-color: $grey;
  margin: 32px auto;
}

.illustration__items {
  display: flex;
  width: 78%;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.illustration__phrase {
  @include title-big;
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 5px;
}

.illustration__phrase:first-child {
  margin: 0 0 0 15px;
}

.illustration__toggle {
  width: 37%;
  border: 1px $grey solid;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: $white;
  padding: 1px 4px;
  margin: 5px 5px 18px;
}

.illustration__scale {
  width: 43%;
  border-radius: 6px;
  background-color: $green;
  padding: 4px;
}
