.intro {
  width: 100%;
}

.intro__img {
  height: 302px;
  background-image: linear-gradient($green-85, $green-85), url("../../img/bg-index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  background-color: $green;
  margin: 0 0 139px 0;
}

.intro__slogan {
  text-align: center;
  padding: 28px;
}

.intro__title {
  font-family: $oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
  margin: 0 0 25px;
}

.intro__subtitle {
  font-family: $oswald;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
  margin: 0 auto;
}

.intro__wrapper-img {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 35px;
  padding: 0 20px;
  margin: 0 auto;
}

.intro__wrapper-toggle {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .intro {
    position: relative;
  }

  .intro__img {
    background-color: $white;
    background-image: none;
    margin: 0 0 556px 0;
  }

  .intro__slogan {
    text-align: left;
    padding: 48px 20px 50px 117px;
  }

  .intro__title {
    font-family: $oswald;
    font-size: 60px;
    line-height: 60px;
    color: $black;
    margin: 0 0 41px 0;
  }

  .intro__subtitle {
    font-family: $oswald;
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }
}
