.intro {
  position: relative;
}

.intro__container {
  width: 100%;
  margin: 0 auto;
}

.intro__wrap {
  margin: 0 auto;
}

.intro__img {
  width: 100%;
  height: 302px;
  background-color: $green;
  background-image: linear-gradient($green-85, $green-85), url("../../img/bg-index-mob.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 2px auto 139px;
  z-index: 1;
}

@media (min-resolution: 2dppx) {
  .intro__img {
    background-image: url("../../img/bg-index-mob-2x.jpg");
  }
}

.intro__slogan {
  position: absolute;
  top: 0;
  left: calc(50% - 50vw);
  right: calc(50% - 50vw);
  z-index: 2;
}

.intro__main-img {
  position: absolute;
  bottom: 45px;
  left: calc(50% - 140px);
  width: 280px;
  height: 270px;
  z-index: 4;
  margin: 0 auto;
}

.intro__wrapper-toggle {
  width: 88%;
  margin: 0 auto;
}

// todo 768
@media (min-width: 768px) {
  .intro__img {
    display: none;
  }

  .intro__slogan {
    position: static;
    margin: 0 auto;
  }

  .intro__main-img {
    top: 216px;
    left: calc(50% - 353px);
    width: 709px;
    height: 609px;
    z-index: 4;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .intro__wrap {
    width: 89%;
  }

  .intro__img {
    position: absolute;
    display: block;
    top: -185px;
    right: 0;
    width: 50%;
    min-height: 694px;
    background-image: linear-gradient($green-85, $green-85), url("../../img/bg-index-desk.jpg");
    margin: 0;
  }

  @media (min-resolution: 2dppx) {
    .intro__img {
      background-image: url("../../img/bg-index-desk-2x.jpg");
    }
  }

  .intro__main-img {
    top: -43px;
    left: calc(50% - 162px);
    width: 552px;
    height: 499px;
    margin: 0;
  }
}
