.intro {
  position: relative;
  box-sizing: border-box;
}

.intro__container {
  margin: 0 auto;
}

.intro__wrap {
  margin: 0 auto;
}

.intro__img {
  width: 100%;
  min-height: 302px;
  background-image: linear-gradient($green-85, $green-85), url("../../img/bg-index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  background-color: $green;
  margin: 2px auto 139px;
  z-index: 1;
}

.intro__slogan {
  position: absolute;
  top: 0;
  left: calc(50% - 50vw);
  right: calc(50% - 50vw);
  z-index: 2;
}

.intro__main-img {
  position: absolute;
  bottom: 40px;
  left: calc(50% - 140vw);
  width: 280px;
  height: 270px;
  z-index: 4;
  margin: 0 auto;
}

.intro__wrapper-toggle {
  width: 88%;
  margin: 0 auto;
}

// todo 768
@media (min-width: 768px) {
  .intro__img {
    display: none;
  }

  .intro__slogan {
    position: static;
    margin: 0 auto;
  }

  .intro__main-img {
    top: 204px;
    left: calc(50% - 353px);
    width: 709px;
    height: 609px;
    z-index: 4;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .intro {
    margin: 0 0 281px 0;
  }

  .intro__wrap {
    width: 89%;
  }

  .intro__img {
    position: absolute;
    display: block;
    top: -133px;
    right: 0;
    width: 50%;
    min-height: 694px;
    background-image: linear-gradient($green-85, $green-85), url("../../img/bg-index.jpg");
    margin: 0;
  }

  .intro__main-img {
    top: -40px;
    right: 0;
    width: 552px;
    height: 499px;
    z-index: 6;
    margin: 0;
  }
}
