// todo
.navigation__toggle {
  position: absolute;
  top: -45px;
  right: 26px;
  width: 18px;
  height: 18px;
  background-color: $white;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;

  &::before {
    position: absolute;
    top: 10px;
    left: 0;
    content: " ";
    width: 25px;
    height: 2px;
    background-color: $black;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    top: 10px;
    left: 0;
    content: " ";
    width: 25px;
    height: 2px;
    background-color: $black;
    transform: rotate(-45deg);
  }
}

// .navigation--closed .navigation__toggle {
//   position: absolute;
//   top: 22px;
//   right: 20px;
//   content: " ";
//   width: 24px;
//   height: 2px;
//   background-color: $black;
//   box-shadow: 0 6px 0 0 $black, 0 12px 0 0 $black;
// }

.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.navigation__item {
  @include title-big;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $black;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px $secondary-grey solid;
  padding: 22px 20px;
  margin: 0;
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: row;
    width: 75%;
    box-sizing: border-box;
    padding: 42px 0 22px;
    margin: 0;
  }

  .navigation__item {
    width: calc(100% / 3);
    font-size: 18px;
    line-height: 24px;
    border-bottom: none;
    text-align: center;
    padding: 0;
    margin: 0 10px 0 0;
  }

  .navigation__item--current {
    box-shadow: 0 2px 0 0 $green;
  }

  &::before,
  &::after {
    display: none;
  }
}
