@import "../other/global.scss";
@import "./form.scss";

.owner-data {
  width: 100%;
  border: none;
  border-top: 2px $green solid;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

.owner-data__title {
  @include title-form;
  padding: 28px 22px 0 18px;
  margin: 0 0 34px -20px;
}

.owner-data__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.owner-data__input-wrapper {
  @include input-wrapper;
  margin: 0 0 12px 0;
}

.owner-data__label {
  @include form;
  padding: 12px 0;
  margin: 0 10px 0 0;
}

.owner-data__input {
  @include input;
  border-color: $grey;
  padding: 14px;
}

.owner-data__fieldset {
  border: none;
  border-top: 2px $green solid;
  padding: 28px 20px 10px;
  margin: 0 auto;
}
