.owner-data {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: none;
  margin: 0 0 6px;
}

.owner-data__container {
  flex-basis: 100%;
  margin: 0 auto;
}

.owner-data__title {
  @include title-form;
  width: 69%;
  background-color: $white;
  padding: 0 18px;
  margin: 0 0 35px 0;

  &::after {
    @include line;
    top: 15px;
  }
}

.owner-data__list {
  display: flex;
  flex-wrap: wrap;
  width: 88%;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.owner-data__input-wrapper {
  @include input-wrapper;
  position: relative;
  flex-basis: 100%;
  margin: 0 0 13px;
}

.owner-data__label {
  @include form;
  margin-right: 10px;
}

// .owner-data__email,
// .owner-data__phone {
//   stroke: $green;
// }

.owner-data__input {
  flex: 1 1 auto;
  color: $black;
  border: 1px solid $grey;
  padding: 14px 33px 14px 14px;

  &:disabled {
    border: 2px $basic-grey solid;

    .owner-data__email,
    .owner-data__phone {
      stroke: $green;
    }
  }

  &:hover {
    border-color: $grey;
  }

  &:active {
    outline: 1px $orange dashed;
  }

  &:focus {
    outline: none;
    border: 2px solid $basic-grey;
  }
}

.owner-data__input::placeholder {
  @include form;
  color: $basic-grey;
}

// // /*for Firefox*/
// .owner-data__input::-moz-placeholder {
//   @include form;
// }

.owner-data__phone,
.owner-data__email {
  position: absolute;
  top: 12px;
  right: 16px;
}

// todo 768
@media (min-width: 768px) {
  .owner-data {
    border: none;
    margin-bottom: 40px;
  }

  .owner-data__title {
    width: 77%;
    font-size: 36px;
    line-height: 36px;
    padding: 35px 35px 0;
    margin: 0 0 71px 35px;

    &::after {
      top: 55px;
    }
  }

  .owner-data__list {
    width: 82%;
  }

  .owner-data__input-wrapper {
    margin: 0 0 13px 0;
  }

  .owner-data__label {
    @include form;
    font-size: 20px;
    line-height: 30px;
    padding: 12px 0;
    margin: 0 18px 0 0;
  }

  .owner-data__input {
    padding: 17px 47px 17px 19px;
  }

  .owner-data__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .owner-data__phone,
  .owner-data__email {
    top: 18px;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .owner-data {
    margin-bottom: 50px;
  }

  .owner-data__title {
    width: 42%;
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin: 0 0 70px 70px;

    &::after {
      top: 22px;
    }
  }

  .owner-data__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 84%;
  }

  .owner-data__input-wrapper {
    width: 45%;
  }

  .owner-data__input-wrapper:first-child {
    margin-right: 75px;
  }

  .owner-data__phone,
  .owner-data__email {
    top: 19px;
    right: 16px;
  }
}
