.page-header {
  position: relative;
  margin: 0 auto;
}

.page-header__container {
  width: 100%;
  margin: 0 auto;
}

.page-header__link {
  display: block;
  width: 100%;
  border-bottom: 1px $secondary-grey solid;
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  width: 190px;
  align-items: center;
  padding: 13px 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
    outline: 1px $orange dashed;
    border: none;
  }
}

.page-header__logo-icon {
  width: 33px;
  height: 38px;
}

.page-header__logo-word {
  width: 101px;
  height: 18px;
}

.page-header__navigation {
  margin: 0 auto;
}

// todo 768
@media (min-width: 768px) {
  .page-header {
    padding: 27px 0 10px;
  }

  .page-header__container {
    display: flex;
    justify-content: space-between;
    width: 92%;
  }

  .page-header__link {
    width: 24.5%;
    border: none;
  }

  .page-header__logo {
    width: 174px;
    padding: 0;
  }

  .page-header__logo-icon {
    width: 174px;
    height: 52px;
  }

  .page-header__logo-word {
    display: none;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .page-header {
    padding: 55px 0 65px;
  }

  .page-header__container {
    width: 85%;
    align-items: center;
    margin: 0 auto;
  }

  .page-header__logo {
    width: 202px;
  }

  .page-header__logo-icon {
    display: block;
    width: 202px;
    height: 59px;
  }
}
