.page-header {
  position: relative;
  margin: 0 auto;
}

.page-header__container {
  width: 100%;
  margin: 0 auto;
}

.page-header__link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border-bottom: 1px $secondary-grey solid;
  padding: 14px 20px;
  margin: 0 auto;
}

.page-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
    outline: 1px $orange dashed;
    border: none;
  }
}

.page-header__logo--mob {
  grid-column: 1 / 1;
  width: 33px;
  height: 38px;
}

.page-header__logo--word {
  width: 101px;
  height: 18px;
}

.page-header__logo--tabl,
.page-header__logo--desk {
  display: none;
}

.page-header__navigation {
  margin: 0 auto;
}

// todo 768
@media (min-width: 768px) {
  .page-header {
    padding: 21px 0;
  }

  .page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 92%;
  }

  .page-header__link {
    width: 25%;
    border-bottom: none;
    padding: 0;
    margin: 0;
  }

  .page-header__logo--tabl {
    display: inline-block;
    height: 52px;
    align-items: center;
    border-bottom: none;
  }

  .page-header__logo--mob,
  .page-header__logo--desk,
  .page-header__logo--word {
    display: none;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .page-header {
    padding: 0;
  }

  .page-header__container {
    width: 85%;
    align-items: center;
    margin: 0 auto;
  }

  .page-header__link {
    padding: 53px 0 72px;
    margin: 0;
  }

  .page-header__logo--desk {
    display: block;
    width: 202px;
    height: 59px;
  }

  .page-header__logo--mob,
  .page-header__logo--tabl,
  .page-header__logo--word {
    display: none;
  }
}
