.page-main {
  display: flex;
  flex-direction: column;
}

.page-main__intro,
.page-main__program,
.page-main__illustration,
.page-main__slider {
  margin: 0 auto;
}

// todo 768
@media (min-width: 768px) {
  .page-main__illustration {
    margin-bottom: 75px;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .page-main__illustration {
    margin: 0;
  }
}
