.page-main {
  margin: 0 auto;
}

// index
.page-main__intro {
  position: relative;
  margin: 1px auto;
}

.page-main__program {
  margin: 0 20px 15px;
}

.page-main__description {
  margin: 0 auto;
}

.page-main__illustration {
  margin: 0 auto;
}

// todo 768
@media (min-width: 768px) {
  .page-main {
    margin: 0 30px;
  }
}
