.page-footer {
  display: flex;
  flex-direction: column;
  background-color: $special-grey;
  padding: 0;
  margin: 0 auto;
}

.page-footer__cooperate {
  width: 100%;
  margin: 0 auto;
}

.page-footer__map {
  width: 100%;
  min-height: 363px;
  background-image: url("../../img/map-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -5px;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
}

.page-footer__container {
  width: 88%;
  margin: 0 auto;
}

.page-footer__logo-word {
  display: block;
  width: 128px;
  height: 24px;
  padding: 32px 0 30px;
  margin: 0 auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 33px;
  align-items: center;
  justify-content: center;
  list-style: none;
  border-top: 1px $dull-grey solid;
  border-bottom: 1px $dull-grey solid;
  padding: 20px 0 17px;
  margin: 0 auto;
}

.page-footer__social-button--vk {
  display: inline-block;
  width: 23px;
  height: 16px;
}

.page-footer__social-button--inst {
  display: inline-block;
  width: 17px;
  height: 17px;
}

.page-footer__social-button--fb {
  display: inline-block;
  width: 13px;
  height: 20px;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

// todo 768
@media (min-width: 768px) {
  .page-footer__map {
    min-height: 400px;
    background-image: url("../../img/map-tabl.jpg");
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    padding: 58px 0;
  }

  .page-footer__logo-word {
    padding: 0;
    margin: 0;
  }

  .page-footer__social {
    width: 23%;
  }

  .page-footer__social-list {
    width: 23%;
    gap: 26px;
    border: none;
    padding: 0;
    margin: 0;
  }

  .page-footer__social-button--vk {
    width: 30px;
    height: 22px;
  }

  .page-footer__social-button--inst {
    width: 23px;
    height: 23px;
  }

  .page-footer__social-button--fb {
    width: 19px;
    height: 31px;
  }

  .page-footer__copyright {
    width: 23%;
  }

  .page-footer__copyright-link {
    // display: flex;
    // justify-content: space-between;
    padding: 0;
    margin: 0;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .page-footer {
    position: relative;
  }

  .page-footer__map {
    background-image: url("../../img/map-desk.jpg");
  }

  // .page-footer__cooperate {
  //   position: absolute;
  //   top: 95px;
  //   right: 767px;
  //   z-index: 10;
  // }
}
