.page-footer {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
}

.page-footer__cooperate {
  margin: 0 auto;
}

.page-footer__map {
  width: 100%;
  min-height: 362px;
  background-color: url("../../img/map.jpg");
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
}

.page-footer__box {
  width: 100%;
  margin: 0 auto;
}

.page-footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 32px;
  justify-content: center;
  list-style: none;
  border-top: 1px $dull-grey solid;
  border-bottom: 1px $dull-grey solid;
  padding: 21px 10px 14px;
  margin: 0;
}

.page-footer__copyright {
  padding: 22px 0;
  margin: 0 20px;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.page-footer__copyright-text {
  @include text;
  font-size: 16px;
}

// todo 768
@media (min-width: 768px) {
  .page-footer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px 60px;
  }

  // .page-footer__map {
  //   min-height: 400px;
  // }

  .page-footer__social-list {
    border: none;
    padding: 0;
  }

  // .page-footer__logo {
  //   padding: 0;
  //   margin: 0 auto 0;
  // }

  // .page-footer__logo--form {
  //   padding: 0;
  // }

  .page-footer__copyright {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0 auto;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .page-footer {
    position: relative;
  }

  .page-footer__cooperate {
    position: absolute;
    top: 95px;
    right: 767px;
    z-index: 10;
  }
}
