.product__title-main {
  @include title-small;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 19px 43px;
  margin: 0;
}

.product__menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product__item {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px $light-grey solid;
  box-sizing: border-box;
  padding: 20px 20px 26px;
  margin: 0 auto;
}

.product__foto {
  width: 68px;
  height: 86px;
  line-height: 0;
  background-color: $light-grey;
  background-size: cover;
  margin: 17px 36px;
}

.product__foto--big {
  width: 84px;
  height: 100px;
  margin: 10px 28px;
}

.product__wrapper-price {
  width: 50%;
  color: $extra-dark-grey;
}

.product__link {
  text-decoration: none;
}

.product__title {
  @include text-big;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  padding: 0 40px 0 0;
  margin: 0 0 13px 0;

  br {
    display: none;
  }
}

.product__list {
  @include text;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.product__value {
  @include text;
  width: 50%;
  font-size: 12px;
  line-height: 16px;
}

.product__value:nth-child(even) {
  text-align: right;
}

.product__item--special {
  position: relative;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px $light-grey solid;
  padding: 79px 20px 0;
  margin: 0 auto;

  &::before {
    position: absolute;
    top: 40px;
    left: 45%;
    content: " ";
    width: 10%;
    height: 2px;
    background-color: $secondory-grey;
  }

  &::after {
    position: absolute;
    top: 40px;
    left: 45%;
    content: " ";
    width: 10%;
    height: 2px;
    background-color: $secondory-grey;
    transform: rotate(90deg);
  }

  .product__title {
    padding: 0;
    margin: 0 auto 8px;

    br {
      display: none;
    }
  }

  .product__value {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0 0 22px;

    br {
      display: none;
    }
  }
}

// todo 768
@media (min-width: 768px) {
  .product__title-main {
    font-size: 60px;
    line-height: 60px;
    padding: 33px 0 45px;
    margin: 0;
  }

  .product__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 25px 61px;
  }

  .product__item {
    position: relative;
    flex-direction: column;
    align-items: center;
    background: linear-gradient($white 118px, $special-grey 118px 427px);
    border-top: none;
    padding: 0 39px 37px;
    margin: 0;
  }

  .product__foto,
  .product__foto--big {
    width: 168px;
    height: 200px;
    margin: 45px 0 30px;
  }

  .product__wrapper-price {
    width: 100%;
  }

  .product__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 0;
    margin: 0 0 12px 0;

    br {
      display: block;
    }
  }

  .product__list {
    width: 100%;
    margin: 0 0 36px 0;
  }

  .product__value {
    width: 50%;
    font-size: 16px;
    padding: 8px 0;
  }

  .product__value:nth-child(even) {
    justify-content: flex-end;
  }

  .product__item--special {
    background: linear-gradient($white 118px, $white 118px 427px);
    border: 1px $special-grey solid;
    padding: 160px 39px 0;
    margin: 120px 0 0 0;

    &::before {
      position: absolute;
      top: 81px;
      left: 40%;
      width: 20%;
    }

    &::after {
      position: absolute;
      top: 81px;
      left: 40%;
      width: 20%;
    }

    .product__title {
      line-height: 22px;
      margin: 0 auto 25px;

      br {
        display: block;
      }
    }

    .product__value {
      width: 100%;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      padding: 0;
      margin: 0 0 85px;

      br {
        display: block;
      }
    }

    .button--special {
      margin: 0 auto 26px;
    }
  }
}
