.program__container {
  width: 88%;
  margin: 0 auto;
}

.program__item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: $special-grey;
  box-sizing: border-box;
  padding: 30px 0 5px;
  margin: 0 auto 21px;
}

.program__title {
  @include title-big;
  width: 60%;
  font-size: 24px;
  line-height: 37px;
  padding: 0 0 28px 92px;
  margin: 0;
}

.program__icon {
  position: absolute;
  top: 21px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.program__icon--slim {
  left: 23px;
  width: 50px;
  height: 53px;
}

.program__icon--fat {
  left: 14px;
  width: 67px;
  height: 50px;
}

.program__subtitle {
  @include text;
  width: 86%;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto 22px;
}

.program__link {
  @include title-small;
  display: flex;
  align-items: baseline;
  width: 59%;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $special-grey;
  border-top: 2px $dull-grey solid;
  padding: 17px 75px 15px 0;
  margin: 0 0 0 20px;

  &:active {
    opacity: 0.3;
    outline: 1px $orange dashed;
    border: none;
  }

  &:hover .program__link-arrow,
  &:active .program__link-arrow {
    width: 40px;
  }
}

.program__link-name {
  margin: 0 15px 0 0;
}

.program__link-arrow {
  width: 32px;
  height: 12px;
}

// todo 768
@media (min-width: 768px) {
  .program__container {
    width: 92%;
    margin: 0 auto 43px;
  }

  .program__item {
    width: 100%;
    padding: 0 52px 37px;
    margin: 0 0 35px 0;
  }

  .program__title {
    width: 55%;
    font-size: 36px;
    line-height: 36px;
    padding: 75px 45px 25px 0;
    margin: 0;
  }

  .program__icon--slim {
    top: 80px;
    left: 63%;
    width: 200px;
    height: 211px;
  }

  .program__icon--fat {
    top: 87px;
    left: 58%;
    width: 268px;
    height: 200px;
  }

  .program__subtitle {
    width: 62%;
    font-size: 16px;
    line-height: 24px;
    padding: 0 20px 34px 0;
    margin: 0;
  }

  .program__item:last-child .program__subtitle {
    width: 57%;
  }

  .program__link {
    width: 45%;
    font-size: 20px;
    line-height: 30px;
    border-top: none;
    padding: 16px 30px 21px 0;
    margin: 0;
  }

  .program__link-name {
    margin: 0 25px 0 0;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .program__container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .program__item {
    width: 47%;
  }

  .program__item:first-child {
    margin: 0 80px 33px 0;
  }

  .program__title {
    text-align: left;
    padding: 78px 0 75px 163px;
    margin: 0;
  }

  .program__icon--slim {
    top: 44px;
    left: 55px;
    width: 100px;
    height: 106px;
  }

  .program__icon--fat {
    top: 49px;
    left: 33px;
    width: 134px;
    height: 100px;
  }

  .program__item:last-child .program__subtitle,
  .program__subtitle {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
  }

  .program__link {
    width: 38%;
    padding: 25px 30px 17px 0;
  }
}
