.program__item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $special-grey;
  box-sizing: border-box;
  padding: 30px 20px 10px;
  margin: 22px auto 0;
}

.program__icon {
  position: absolute;
  background-repeat: no-repeat;
}

// .program__icon--slim {
//   top: 22px;
//   left: 22px;
//   width: 50px;
//   height: 53px;
//   background-image: url("../../img/icon-index-cat1.svg");
// }

// .program__icon--fat {
//   top: 25px;
//   left: 13px;
//   width: 67px;
//   height: 50px;
//   background-image: url("../../img/icon-index-cat2.svg");
// }

.program__title {
  @include title-big;
  font-size: 24px;
  line-height: 37px;
  padding: 0 0 10px 70px;
  margin: 0 0 20px 0;
}

.program__subtitle {
  @include text;
  margin: 0 0 22px 0;
}

.program__link {
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $special-grey;
  border-top: 2px $dull-grey solid;
  padding: 17px 30px 12px 0;
}

// todo 768
@media (min-width: 768px) {
  .program__item {
    padding: 0 53px;
    margin: 0 0 30px 0;
  }

  .program__title {
    font-size: 36px;
    line-height: 36px;
    padding: 77px 245px 25px 0;
    margin: 0;
  }

  .program__subtitle {
    font-size: 16px;
    line-height: 24px;
    padding: 0 228px 34px 0;
    margin: 0;
  }

  .program__item:last-child .program__subtitle {
    padding: 0 258px 34px 0;
  }

  .program__link {
    font-size: 20px;
    line-height: 30px;
    border-top: none;
    padding: 17px 255px 57px 0;
  }
}
