.slider {
  background-color: $smoky-grey;
}

.slider__container {
  width: 100%;
  padding: 0 0 35px;
  margin: 0 auto;
}

.slider__box {
  width: 320px;
  height: 232px;
  list-style: none;
  padding: 0;
  margin: 0 auto 32px;
}

.slider__item {
  position: relative;
  width: 100%;
  height: 232px;
  text-align: center;
}

.slider__item--off {
  z-index: -1;
}

.slider__scroll {
  display: flex;
  width: 61%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.slider__word {
  @include title-big;
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 0.5px $black-24 dashed;
  margin: 0;
}

.slider__scale {
  width: 37%;
  border: 1px $grey solid;
  border-radius: 6px;
  background-color: $white;
  padding: 1px 4px;
}

.slider__toggle {
  width: 44%;
  height: 2px;
  border-radius: 6px;
  background-color: $green;
  padding: 2px;
}

// todo 768
@media (min-width: 768px) {
  .slider {
    background: linear-gradient($white 170px, $smoky-grey 170px 461px);
    margin: 0;
  }

  .slider__container {
    width: 91%;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
  }

  .slider__box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 738px;
    height: 520px;
    margin-bottom: 10px;
  }

  .slider__item {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient($white 170px, $smoky-grey 170px 461px);
    overflow: hidden;
    z-index: 0;

    &--fat {
      width: 47%;
      z-index: 2;
    }
  }

  .slider__foto {
    width: 93vw;
    max-width: 93vw;
    height: 516px;
  }

  .slider__item--slim {
    opacity: 1;
  }

  .slider__scroll {
    width: 82%;
    margin: 0 auto 62px;
  }

  .slider__scale {
    position: relative;
    width: 73%;
    height: 6px;
    background-color: $grey;
    border-radius: 6px;
    margin: 13px 5px 18px;
  }

  .slider__toggle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 46.5%;
    bottom: -13px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0 1px 3px $black-16;
    box-sizing: border-box;
    z-index: 14;

    &:hover {
      box-shadow: 0 2px 4px $black-19;
    }

    &:active {
      box-shadow: 0 3px 5px $black-20;
      border: 1px $green solid;
    }
  }

  .slider__toggle-center {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $green;
  }

  .slider__word {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px $black-40 solid;
    margin: 0 0 4px 0;
  }
}

// // todo 1440
// @media (min-width: 1440px) {
//   .slider {
//     width: 56%;
//     min-height: 625px;
//     background: linear-gradient($white 170px, $smoky-grey 170px 461px);
//   }

//   .slider__container {
//     width: 88%;
//     margin: 0;
//   }

//   .slider__box {
//     min-height: 100%;
//   }

//   .slider__foto {
//     min-height: 521px;
//     padding: 0;
//     margin: 0;
//   }

//   .slider__scroll {
//     left: 71px;
//     width: 77%;
//     justify-content: space-around;
//     margin: 0 0 60px 0;
//   }

//   .slider__scale {
//     width: 71%;
//     margin: 13px 0 18px;
//   }

//   .slider__toggle {
//     left: 47%;
//     bottom: -12px;
//   }

//   .slider__word {
//     border-bottom: none;
//     margin: 0 0 7px 0;
//   }
// }
