.slogan {
  width: 88%;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

.slogan__title {
  font-family: $oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
  text-align: center;
  margin: 27px auto 25px;
}

.slogan__subtitle {
  font-family: $oswald;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
  margin: 0 auto;
}

// todo 768
@media (min-width: 768px) {
  .slogan {
    width: 70%;
    padding: 0;
    margin: 30px auto 624px;
    z-index: 5;
  }

  .slogan__title {
    width: 80%;
    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: left;
    padding-top: 14px;
    margin: 0 0 41px 0;
  }

  .slogan__subtitle {
    width: 54%;
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
    margin: 0;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .slogan {
    width: 50%;
    padding: 91px 0;
    z-index: 5;
    margin: 0;
  }

  .slogan__title {
    width: 66%;
    padding: 0;
    margin: 0 auto 40px;
  }

  .slogan__subtitle {
    width: 66%;
    margin: 0 auto;
  }
}
