.slogan {
  width: 88%;
  text-align: center;
  margin: 0 auto 32px;
}

.slogan__title {
  width: 100%;
  font-family: $oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
  text-align: center;
  padding: 30px 0 20px;
  margin: 0 auto;
}

.slogan__subtitle {
  width: 100%;
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
  margin: 0 auto;
}

// todo 768
@media (min-width: 768px) {
  .slogan {
    text-align: start;
    padding: 0;
    margin: 0 0 50px;
    z-index: 5;
  }

  .slogan__title {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: left;
    padding: 45px 0 40px;
    margin: 0;
  }

  .slogan__subtitle {
    width: 60%;
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
    padding: 0;
    margin: 0;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .slogan {
    width: 50%;
    z-index: 5;
  }

  .slogan__title {
    width: 90%;
    padding: 40px 0;
  }

  .slogan__subtitle {
    width: 75%;
  }
}
