.stock {
  position: relative;
  width: 88%;
  background-color: $green;
  margin: 38px auto 33px;
}

.stock__container {
  width: 100%;
  background-color: $green;
  background-image: url("../../img//bg-catalog-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-resolution: 2dppx) {
  .stock__container {
    background-image: url("../../img//bg-catalog-mob-2x.jpg");
  }
}

.stock__icon {
  position: absolute;
  top: 59px;
  left: calc(50% - 39px);
  width: 78px;
  height: 80px;
}

.stock__text {
  @include text;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  padding: 187px 55px 43px;
  margin: 0 auto;
}

// todo 768
@media (min-width: 768px) {
  .stock {
    width: 100%;
    padding: 0;
    margin: 62px 0 80px;
  }

  .stock__container {
    background-image: url("../../img/bg-catalog-tablet.jpg");
  }

  @media (min-resolution: 2dppx) {
    .stock__container {
      background-image: url("../../img/bg-catalog-tablet-2x.jpg");
    }
  }

  .stock__icon {
    top: 57px;
    left: 77px;
    width: 80px;
    height: 83px;
  }

  .stock__text {
    text-align: left;
    padding: 71px 120px 65px 423px;
    margin: 0;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .stock {
    width: 20%;
    margin: 0;
  }

  .stock__container {
    background-image: url("../../img/bg-catalog-desk.jpg");
  }

  @media (min-resolution: 2dppx) {
    .stock__container {
      background-image: url("../../img/bg-catalog-desk-2x.jpg");
    }
  }

  .stock__icon {
    top: 57px;
    left: calc(50% - 40px);
    margin: 0;
  }

  .stock__text {
    text-align: center;
    padding: 187px 35px 40px;
    margin: 0;
  }
}
