.user-data {
  display: flex;
  flex-wrap: wrap;
  border: none;
  padding: 0;
  margin: 0 0 9px 0;
}

.user-data__title {
  @include title-form;
  padding: 15px 0 0 0;
  margin: 0 0 32px 0;
}

.user-data__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-data__input-wrapper {
  @include input-wrapper;
  margin: 0 0 11px 0;
}

.user-data__label {
  @include form;
  padding: 12px 0;
  margin: 0 12px 0 0;
}

.user-data__input {
  flex-grow: 1;
  border: 1px solid $grey;
  box-sizing: border-box;
  padding: 19px 0 12px 15px;
}

.user-data--no-title {
  margin: 0 0 7px 0;

  .user-data__input {
    border-color: $aluminum-grey;
  }

  .user-data__label {
    margin: 0 15px 0 0;
  }
}

.user-data__input::placeholder {
  @include form;
}

// todo 768
@media (min-width: 768px) {
  .user-data {
    border: none;
    padding: 0;
    margin: 0 0 38px 0;
  }

  .user-data--no-title {
    margin: 0 0 55px 0;
  }

  .user-data__title {
    font-size: 36px;
    line-height: 36px;
    padding: 17px 42px 0 0;
    margin: 0 0 75px 0;

    br {
      display: none;
    }
  }

  .user-data__input-wrapper {
    margin: 0 0 18px 0;
  }

  .user-data__label {
    @include form;
    font-size: 20px;
    line-height: 30px;
    padding: 12px 0;
    margin: 0 18px 0 0;
  }

  .user-data__input {
    padding: 22px 47px 12px 19px;
  }

  .user-data__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
