// owner-data + title
.user-data {
  display: flex;
  flex-wrap: wrap;
  border: none;
  border-top: 2px $green solid;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

.user-data__title {
  @include title-form;
  padding: 28px 22px 0 18px;
  margin: 0 0 34px -20px;
}

.user-data__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-data__input-wrapper {
  @include input-wrapper;
  margin: 0 0 12px 0;
}

.user-data__label {
  @include form;
  padding: 12px 0;
  margin: 0 10px 0 0;
}

.user-data__input {
  flex-grow: 1;
  border: 1px solid $grey;
  padding: 14px;
}

.user-data__fieldset {
  border: none;
  border-top: 2px $green solid;
  padding: 28px 20px 10px;
  margin: 0 auto;
}

.user-data__input::placeholder {
  @include form;
}

// cat-data
.user-data--no-titile {
  border-top: none;
  padding: 0 20px 10px;

  .user-data__input {
    border-color: $aluminum-grey;
    padding: 13px 0 12px 18px;
    margin: 0 0 2px 0;
  }

  .user-data__fieldset {
    border: none;
  }
}
