.way {
  border-top: 1px $dull-grey solid;
  border-bottom: 1px $dull-grey solid;
  border-left: none;
  border-right: none;
  padding: 0 20px;
}

.way__container {
  margin: 0 auto;
}

.way__list {
  list-style: none;
  padding: 26px 0 14px;
  margin: 0;
}

.way__option {
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  margin: 0 0 14px 40px;
}

.way__label {
  @include form;

  .way__input + &::before {
    position: absolute;
    top: 0;
    left: -40px;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px $grey solid;
    border-radius: 50%;
  }

  .way__input:checked + &::after {
    position: absolute;
    top: 8px;
    left: -31px;
    content: "";
    width: 14px;
    height: 14px;
    background-color: $green;
    border-radius: 50%;
    box-sizing: border-box;
    background-image: none;
  }
}

// todo 768
@media (min-width: 768px) {
  .way {
    border: none;
    padding: 0;
    margin: 0 0 44px 0;
  }

  .way__list {
    border: 1px $dull-grey solid;
    padding: 22px 0 10px;
    margin: 0 70px;
  }

  .way__option {
    margin: 0 0 14px 67px;
  }

  .way__label {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 15px 15px;

    .way__input + &::before {
      top: 0;
      left: -40px;
      width: 40px;
      height: 40px;
    }

    .way__input:checked + &::after {
      top: 12px;
      left: -28px;
      width: 18px;
      height: 18px;
    }
  }

  // todo
  .way__input + &::before {
    position: absolute;
    top: 2px;
    left: -40px;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px $grey solid;
    border-radius: 50%;
  }

  .way__input:checked + &::after {
    position: absolute;
    top: 9px;
    left: -11px;
    content: "";
    width: 14px;
    height: 14px;
    background-color: $green;
    border-radius: 50%;
    box-sizing: border-box;
    background-image: none;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .way {
    width: 47%;
  }

  .way__list {
    border: 1px $dull-grey solid;
    padding: 26px 27px 10px;
    margin: 0;
  }

  .way__option {
    margin: 0 0 14px 37px;
  }
}
