.way {
  border-top: 1px $dull-grey solid;
  border-bottom: 1px $dull-grey solid;
  border-left: none;
  border-right: none;
  margin: 0 auto 26px;
}

.way__container {
  width: 88%;
  margin: 0 auto;
}

.way__list {
  list-style: none;
  padding: 24px 0 7px;
  margin: 0 auto;
}

.way__input-wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  margin: 0 0 12px 41px;
}

.way__label {
  @include form;

  .way__input + &::before {
    position: absolute;
    top: 0;
    left: -40px;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px $grey solid;
    border-radius: 50%;

    &:hover {
      border-color: $extra-light-grey;
    }
  }

  .way__input:checked + &::after {
    position: absolute;
    top: 8px;
    left: -32px;
    content: "";
    width: 14px;
    height: 14px;
    background-color: $green;
    border-radius: 50%;
    box-sizing: border-box;
    background-image: none;
  }

  .way__input:disabled ~ & {
    color: $extra-dark-grey-03;
  }

  .way__input:disabled + &::before {
    border-color: 1px $extra-light-grey solid;
  }

  .way__input:disabled + &::after {
    background-color: $green-03;
  }
}

.way__input:focus ~ .way__label {
  outline: 2px $orange solid;
}

// todo 768
@media (min-width: 768px) {
  .way {
    border: none;
    padding: 0;
    margin: 40px 0;
  }

  .way__list {
    border: 1px $dull-grey solid;
    width: 93%;
    padding: 23px 0 10px;
  }

  .way__input-wrapper {
    margin: 0 0 14px 67px;
  }

  .way__label {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 15px 15px;

    .way__input + &::before {
      top: 0;
      left: -40px;
      width: 40px;
      height: 40px;
    }

    .way__input:checked + &::after {
      top: 12px;
      left: -28px;
      width: 18px;
      height: 18px;
    }
  }
}

// todo 1440
@media (min-width: 1440px) {
  .way {
    width: 47%;
    margin: 0;
  }

  .way__container {
    width: 100%;
    margin: 0;
  }

  .way__list {
    width: 100%;
    border: 1px $dull-grey solid;
    padding: 27px 0 10px;
  }

  .way__input-wrapper {
    margin: 0 0 14px 70px;
  }
}
