// todo 768
@media (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .wrapper--slider {
    width: 100%;
    flex-direction: row;
  }

  .wrapper--extra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
  }

  .wrapper--extra {
    flex-direction: row;
    justify-content: flex-start;
  }

  .wrapper--illustration {
    justify-content: space-between;
  }
}
