.wrapper {
  display: block;
}

.wrapper--catalog {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// todo 768
@media (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .wrapper--index {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .wrapper--form {
    flex-direction: column;
  }
}

// todo 1440
@media (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
  }

  .wrapper--index {
    width: 100%;
    margin: 0 auto;
  }

  .wrapper--form {
    width: 85%;
    margin: 0 auto 50px;
  }

  .wrapper--catalog {
    width: 85%;
    margin: 0 auto 82px;
  }
}
