@import "./o-global.scss";

.page-footer__wrapper {
  display: block;
  width: auto;
  text-align: center;
  background-color: $special-grey;
  padding: 0;
  margin: 0 auto;
}

.cooperate--index {
  background-color: $white;
}

.page-footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cooperate {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: left;
  box-sizing: border-box;
  padding: 31px 20px 20px;
}

.cooperate--main {
  background-color: $white;
}

.cooperate__title {
  @include title-big;
  font-size: 16px;
  line-height: 19px;
  width: 50%;
  margin: 0;
}

.cooperate__address {
  @include text;
  width: 50%;
  line-height: 20px;
  text-align: left;
  margin: 0;
}

.page-footer__item--map {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
}

.page-footer__item--map::before {
  /*for logo in map*/
  content: "";
  // position: absolute;
  // width: ;
  // height: ;
  // background-image: url() ;
  // text-align: center;
}

.page-footer__item--logo {
  padding: 30px 0;
  margin: 0 auto;
}

.social {
  padding: 0 20px;
  margin: 0;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  border-top: 1px $dull-grey solid;
  border-bottom: 1px $dull-grey solid;
  padding: 18px 10px;
  margin: 0;
}

.social__button {
  width: 7%;
  margin: 0 23px 0 0;
}

.copyright {
  padding: 28px 20px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.copyright__item {
  @include text;
  font-size: 16px;
  // padding: 32px 0;
  margin: 0;
}
