// Colors
$white: #ffffff;
$black: #000000;
$green: #68b738;
$special-grey: #f2f2f2;
$grey: #cdcdcd;
$dull-grey: #d9d9d9;
$light-grey: #ebebeb;
$dark-grey: #666666;
$basic-grey: #444444;
$extra-dark-grey: #222222;
$error-pink: #ff8282;
$smoky-grey: #eaeaea;
$secondary-grey: #e6e6e6;
$aluminum-grey: #e7e7e7;
$secondory-grey: #d3d3d3;
$green-85: rgba(104, 183, 56, 0.85);
$black-16: rgba(0, 0, 0, 0.16);

// Fonts
$oswald: ("Oswald", "Arial", sans-serif);
$arial: ("Arial", sans-serif);

//Viewport
@mixin mobile {
  min-width: 320px;
}

@mixin tablet {
  min-width: 768px;
}

@mixin desktop {
  min-width: 1440px;
}

// Mixins
@mixin title-big {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin title-small {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
}

@mixin text {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: $basic-grey;
}

@mixin text-big {
  font-family: $oswald;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin form {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: $basic-grey;
  text-transform: uppercase;
  box-sizing: border-box;
}

@mixin title-form {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 26px;
}

@mixin input-wrapper {
  position: relative;
  display: flex;
  align-items: baseline;
  flex-basis: 100%;
  padding: 0;
}
